.dayCard-container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : space-around;
  margin          : 15px;
  width           : 120px;
  height          : 177px;
  background-color: var(--light-blue);
}

.dayCard-container .dayCard__title {
  font-size  : 1.6rem;
  font-weight: 500;
  line-height: 1.878rem;
  color      : var(--light-grey);
}

.dayCard-container img {
  width : auto;
  height: 70px;
}

.dayCard-container .dayCard__degrees {
  display        : flex;
  align-items    : center;
  justify-content: space-around;
  width          : 100%;
  font-size      : 1.6rem;
  font-weight    : 500;
  line-height    : 1.878rem;
}

.dayCard__degrees .degrees__left {
  color: var(--light-grey);
}

.dayCard__degrees .degrees__right {
  color: var(--mid-grey);
}