.main-container {
  display         : flex;
  width           : 100vw;
  height          : auto;
  background-color: var(--dark-blue);
}

@media screen and (max-width: 1342px) {
  .main-container {
    flex-direction: column;
  }
}